@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400;700&family=Patrick+Hand+SC&family=Shadows+Into+Light&display=swap');

/* Estilos generales*/
body {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size:medium;
    background-color:#c6dbf3; /*Color de fondo*/
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilos para el contenedor principal*/
#app {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: 70%; 
}

/* Estilos para el formulario */
form {
    display: flex;
    justify-content: space-between;
}

/*Estilos para input*/
input {
    width: 75%; /*cambiar ancho de algo*/
    padding: 8px;
    margin-right: 10px; /*agregar margen de un solo lado*/
    border: 1px solid #addd;
    border-radius: 3px;
}

/* Estilos para el boton*/
button {
    padding: 5px 8px;
    background-color: #1595a9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/*Estilos de la lista*/
ul {
    list-style: none;
    padding: 0;
}

/*Estilos a los elementos de la lista*/
li {
    background-color: #e6c6ef;
    padding: 10px;
    border: 1px solid rgba(18, 172, 172, 0.867);
    border-radius: 6px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/*Estilos para cuando una tarea este completada*/
li.completed {
    text-decoration: line-through;
    color: #9752e0;
}

h2 {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}